# Bytecode
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
.env/

# Node / frontend builds
node_modules/
dist/

# Git
.git
.gitignore

# OS
.DS_Store
Thumbs.db

# Local data
*.sqlite3
*.db
charts/*
data/*

# App files
habits.db
*.csv